@import '~compass-mixins/lib/compass/css3';;

.navbar{
    background-color: #1a018a;
    height: 70px;
    padding-left: 20px;

    a{
        color: #eee;
    }

    a:not(.navbar-brand):hover{
        color: #7484ff;
    }

    li{
        margin-right: 10px;
    }
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border: 2px solid #fff;
} 

nav .logo{
    width: 30%;
    height: 20%;
}


.banner{ 
    img{
        max-height: 400px;
        width: 100%;
        background: no-repeat;
        background-position: 0 20%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}